.schedule-title{
    display: inline-block;
}
.schedule-title.active{
    display: none;
}
.schedule-wrap>p>p{
    display: inline-block;
}
.arrow {
     /* font-family: 'Glyphicons Halflings';
     float: right;*/
     transition: all 0.5s;
}
.arrow.active {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      transform: rotate(-180deg);
} 